.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border: 2px solid #212121;
    border-radius: 20px;
}

.logo {
    width: 100px;
    height: 100px;
}